@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Meie+Script&display=swap');

body {
    font-family: "Inter", sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
}
/* header style */
.header-section {

}
.nav-container {
    max-width: 66.25rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-container h2 {
    font-size: 2.25rem;
    font-weight: 800;
    color: rgb(230, 83, 60);
}
.header-container ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.12rem;
    font-weight: 400;
    cursor: pointer;

}
.header-container ul {
    border: 1px solid rgba(255, 255, 255, 0.1) ;   
    border-radius: 39px;
    display: flex;
    gap: 47px;
    padding: 12px 12px 12px 4px;
}
.item {
    list-style: none;
}
.item1 {
    font-size: 1.12rem;
    font-weight: 600;
    border-radius: 46px;
    background: rgb(230, 83, 60);
    padding: 8px 20px 8px 20px;
}
.nav-icon {
    display: none;
}
/* hero style */
.hero-container {
    max-width: 66.25rem;
    margin: 0 auto;
    display: flex;
    gap: 10.44rem;
}
.hero-content h1 {
    font-size: 4.87rem;
    font-weight: 900;
    color: rgb(255, 255, 255);
    margin-bottom: 0px;
}
.shape {
    font-family: "Meie Script", cursive;
    font-size: 4.87rem;
    font-weight: 900;
    color: rgb(255, 255, 255);
}
.hero-content p {
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    padding-bottom: 20px;
    padding-top: 5px;
}
.btn-j {
    border-radius: 42px;
    background: rgb(230, 83, 60);
    padding: 16px 40px 16px 40px;
    border: none;
    margin-right: 14px;
    font-size: 1.12rem;
    font-weight: 600;
}
.mini {
    display: none;
}
.btn-d {
    font-size: 1.12rem;
    font-weight: 600;
    padding: 16px 40px 16px 40px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 42px;
    background-color: rgba(255, 255, 255, 0);
}
.btn-j a, .btn-d a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.hero-image {
    position: relative;
}
.card-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    width: 12.875rem;
    height: 6rem;
    line-height: 7px;
    position: absolute;
    top: 415px;
    left: -115px;
}
.round {
    width: 40px;
    height: 40px;
    background: #E6533C;
    border-radius: 50%;
} 
.card-1 h2 {
    font-size: 1.5rem;
    font-weight: 900;
    color: rgb(250, 250, 249);

}
.card-1 p {
    font-size: 1rem;
    font-weight: 400;
    color: rgba(239, 237, 232, 0.65);
}
.card-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    line-height: 0px;
    width: 193px;
    height: 98px;
    position: absolute;
    top: 115px;
    right: -60px;
    
}
.card-2 h2 {
    font-size: 2.5rem;
    font-weight: 900;
    color: rgb(255, 255, 255);
    margin: 24px 0 20px 25px;
}
.card-2 p {
    font-size: 0.81rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.65);
    margin-left: 25px;
}

/* habit section */
.habit-section {
    text-align: center;
    margin-top: 100px;
}
.habit-title {
    font-size: 3rem;
    font-weight: 900;
    color: rgb(255, 255, 255);
    margin-bottom: 14px;
}
.habit-dispription {
    font-size: 0.86rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    line-height: 1.5rem;
}
.habit-conent {
    margin-bottom: 55px;
}
.habit-card-container {
    display: grid;
    grid-template-columns: repeat(4, 0.20fr);
    justify-content: center;
}
.habit-card h5 {
    font-size: 1.13rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
    margin-top: 26px;
    margin-bottom: 6px;
}
.habit-card p {
    font-size: 0.86rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}
.habit-card img {
    border-radius: 50%;
}
.play-icon {
    display: none;
}
/* extra-mile section style */
.extra-mile-container {
    display: flex; 
    justify-content: center;
    background-color: rgb(34, 34, 34);
    border-radius: 18px;
    max-width: 77%;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
}
.extra-mile-content {
    margin: 0px 165px 40px 54px;
}
.extra-mile-title {
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 14px;
}
.extra-mile-discription {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.88rem;
    font-weight: 400;
    margin-bottom: 34px;
    max-width: 90%;
}
.extra-mile-image {
    display: flex;
    align-items: center;
    margin: 30px 32px 30px 0;
}
.extra-mile-image img {
    border-radius: 18px;
}

/* responsive style */
@media screen and (max-width: 576px) {
    .header-container ul {
        display: none;
    }
    .nav-icon {
        display: block;
        color: white;
        padding: 20px;
    }
    .nav-container h2 {
        padding-left: 20px;
    }
    .mini-r {
        display: none;
    }
    .mini {
        display: block;
    }
    .hero-container {
        flex-direction: column;
        gap: 5px;
    }
    .hero-content {
        margin: 51px 21px 48px 20px;
    }
    .hero-content h1 {
        width: 285px;
        font-size: 2.25rem;
        font-weight: 900;
        color: rgb(255, 255, 255);
        margin-bottom: 0px;
    }
    .shape {
        font-size: 2.25rem;
        font-weight: 400;
    }
    .hero-content p {
        width: 274px;
    }
    .hero-btn {
        display: flex;
        gap: 24px;
        
    }
    .btn-j {
        padding: 16px 21px 16px 21px;
        margin: 0px;
    }
    .btn-d {
        padding: 16px 25px 16px 30px;
        margin: 0px;
    }
    .hero-image {
        margin: 0px 20px 0 20px;
        
    }
    .card-1 {
        width: 9.74rem;
        height: 4.54rem;
        background: rgba(48, 48, 48, 0.54);
        top: 265px;
        left: 11px;
    }
    .card-1 h2 {
        font-size: 1.13rem;
        font-weight: 900;
    }
    .card-1 p {
        font-size: 0.76rem;
        font-weight: 400;
    }
    .round {
        width: 30.24px;
        height: 30.24px;
    }
    .card-2 {
        width: 9.12rem;
        height: 4.63rem;
        left: 200px;
        top: 50px;
    }
    .card-2 h2 {
        font-size: 1.89rem;
        font-weight: 900;
    }
    .card-2 p {
        font-size: 0.61rem;
        font-weight: 400;
    }
    .play-icon {
        display: block;
        color: white;
        margin-left: 7.56px;
        position: absolute;
        top: 28px;
        right: 113px;
    }
    .habit-card-container {
        grid-template-columns: 1fr;
    } 
    .habit-card {
        margin-bottom: 30px;
    }
    .habit-card h5 {
        margin-top: 30px;
    }
    .extra-mile-container {
        flex-direction: column;
    }
    .extra-mile-title {
        font-weight: 2rem;
    }
    .extra-mile-image img {
        max-width: 100%;
    }
}